[server]
port = 4434
db_path = "/var/lib/yammr/user_tokens.dets"
# TLS is optional but all-or-nothing: set cert_path, key_path, and tls_port
# together to add a TLS listener 
# cert_path = "/etc/yammr/fullchain.pem"
# key_path = "/etc/yammr/privkey.pem"
# tls_port = 4435

[upstream]
# Your SGLang, vLLM, Ollama, etc
host = "127.0.0.1"
port = 30000
api_token = "<<token>>"

[oidc]
# can be any OIDC compatible issuer: Okta, Keycloak, Google..
issuer = "https://<<INTEGRATION>>.okta.com/oauth2/default"
client_redirect_uri = "http://<<THIS HOST'S PUBLIC IP>>:4434/yammr/auth/callback"
client_id = "<<CLIENT ID FROM OIDC>>"
client_secret = "<<CLIENT SECRET FROM OIDC>>"
