{minimum_otp_vsn, "27"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {cowboy, "2.15.0"},
    {gun, "2.6.0"},
    {tomerl, "0.5.0"},
    {jesse, "1.8"},
    {oidcc, "3.9.0"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [yammr]}
]}.

{plugins, [rebar3_proper, erlfmt]}.
{project_plugins, [rebar3_hank]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_extra_apps, [cowboy, gun, cowlib, ranch]}
]}.

{erlfmt, [
    {files, ["{src,test}/*.{erl,hrl}", "rebar.config", "config/*.config"]}
]}.
